.bio:hover :last-child {
    opacity: 1;
}

.bio {
    position: relative;
    background-image: url('/assets/kevin-laminto-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.bio p {
    font-size: 1.5rem;
    text-shadow: 0 0 3px #000000;
}

@media (max-width: 1000px) {
    .bio {
        background-position: center;
        background-attachment: local;
    }

    .bio p {
        text-align: center;
    }
}