.card-background {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 500px;
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-card {
    position: relative;
}

.title {
    color: black;
    background-color: white;
    width: fit-content;
    padding: 0 10px;
    text-decoration: underline;
}

.info {
    background-color: white;
    max-width: 400px;
    padding: 10px 30px;
}

.description {
    color: black;
    font-style: italic;
    font-size: 1.3rem;
    white-space: pre-line;
}

.card-image {
    margin-top: 2px;
    max-height: 458px;
    max-width: 400px;
    box-shadow: 0 0 0 1px black, 0 0 0 20px white;
}

@media (max-width: 1000px) {
    .card-background {
        background-attachment: local;
        background-position: center;
        height: 800px;
    }

    .card {
        flex-direction: column;
        height: 800px;
    }

    .info-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info {
        max-width: 90%;
    }

    .card-image {
        max-width: 85%;
        max-height: 250px;
    }

    .image-link {
        display: flex;
        justify-content: center;
    }
}