@import 'node_modules/modern-normalize/modern-normalize.css';

a {
    color: white;
}

body {
    background-color: #262626;
    color: white;
    font-family: 'Roboto Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

h1 {
    font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}